{% include header.html %}

<!--== Start Blog Details Page Content ==-->
<div class="blog-details-page-content sp-y">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="blog-post-details">
                   

                    <div class="blog-post-txt-wrap">
                        <div class="row">
                            <div class="col-md-3 col-lg-2 order-1 order-md-0">
                                <div class="author-info mt-sm-40">
                                    {% for staff_member in site.staff_members %}
                                        {% if page.author contains staff_member.title or staff_member.title == page.author %}
                                            <div class="author-txt">
                                                <h5><a href="{{ staff_member.url }}">{{ staff_member.title }}</a> <span class="designation">{{ staff_member.position }}</span></h5>
        
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                   
                                </div>
                            </div>

                            <div class="col-md-9 col-lg-8 m-auto order-0">
                                <div class="blog-post-txt">
                                    <h2 class="h3">{{ page.title }}</h2>

                                    {{ content}}
                                </div>

                                <div class="share-article text-center">
                                    <h6>Share this article</h6>
                                    <div class="member-social-icons justify-content-center">
                                        <a class="facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                                        <a class="twitter" href="#"><i class="mdi mdi-twitter"></i></a>
                                        <a class="reddit" href="#"><i class="mdi mdi-reddit"></i></a>
                                        <a class="pinterest" href="#"><i class="mdi mdi-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!--== End Blog Details Page Content ==-->
{% include footer.html %}