{% include header.html %}
<!--== Start Page Content Area Wrapper ==-->
<div class="page-content-wrapper sp-y">
    <div class="member-details-wrapper">
        <div class="container">
            <div class="member-details-wrap">
                <div class="member-details-top">

                            <div class="member-desc">
                                <h2>{{ page.title }}</h2>
                                <h5>{{ page.position }}</h5>

                                {{ content }}
       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}