<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area sp-top">
    <div class="footer-widget-area sm-top-wt">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-lg-4 order-4 order-lg-0">
                    <div class="widget-item">
                        <div class="about-widget">
                            <a href="/"><img src="/assets/img/logo.png" alt="Logo" /></a>

                            <div class="copyright-txt">
                                <p>&copy; {{ site.time | date: '%Y' }} Leopard Asset Management.<br />All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2 ml-auto">
                    <div class="widget-item">
                        <h4 class="widget-title">Information</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="/about">Approach</a></li>
                                <li><a href="/team">Team</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="https://www.linkedin.com/in/ophir-dortheimer-49b6bb17a/opportunities/hiring-opportunities/view/?profileId=ACoAACp2b_cBjF8BY8B9ZQ6A1VpTjSasiOFz7lA">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2 ml-auto">
                    <div class="widget-item">
                        <h4 class="widget-title">Social</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="https://www.linkedin.com/in/ophir-dortheimer-49b6bb17a/">Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="widget-item">
                        <h4 class="widget-title">Contact</h4>
                        <div class="widget-body">
                            <address>
                                10 HaManofim St. Herzliya, Israel
                                <br>
                                info@leopard-mgmt.com
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding: 1em 0;">
                        <div style="font-size: small;color: #999;">
                            <p>Legal Notice: The information contained in this website is not intended and should not be used or construed as an offer to sell, or a solicitation of any offer to buy, securities of any fund or other investment product in any jurisdiction. No such offer or solicitation may be made prior to the delivery of definitive offering documentation. The information in this website is not intended and should not be construed as investment, tax, legal, financial or other advice
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="mdi mdi-chevron-up"></i></button>

<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Header -->
        <div class="close-btn">
            <button class="btn-close"><i class="mdi mdi-close"></i></button>
        </div>

        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="res-mobile-menu">

            </div>
        </div>
    </div>
</aside>
<!-- End Off Canvas Menu Wrapper -->








<!--=======================Javascript============================-->
<script src="/assets/js/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/waypoint.min.js"></script>
<script src="/assets/js/plugins/counterup.min.js"></script>
<script src="/assets/js/plugins/instafeed.min.js"></script>
<script src="/assets/js/plugins/jquery.appear.js"></script>
<script src="/assets/js/plugins/jquery.slicknav.min.js"></script>
<script src="/assets/js/plugins/parallax.min.js"></script>
<script src="/assets/js/plugins/slick.min.js"></script>
<script src="/assets/js/plugins/magnific-popup.min.js"></script>

<!--=== Active Js ===-->
<script src="/assets/js/active.min.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="/assets/js/revslider/jquery.themepunch.tools.min.js"></script>
<script src="/assets/js/revslider/jquery.themepunch.revolution.min.js"></script>


<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<!-- <script src="/assets/js/revslider/extensions/revolution.extension.actions.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.carousel.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.migration.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.navigation.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.parallax.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/assets/js/revslider/extensions/revolution.extension.video.min.js"></script> -->

<!--=== REVOLUTION JS ===-->
<!-- <script src="/assets/js/revslider/rev-active.js"></script> -->

</body>

</html>